/* body {
    background: rgb(153, 72, 72);
} */

.outerbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


#innerbody {
    background-color: rgb(151, 155, 157);
    color: black;
    padding: 1.5%; 
    text-align: center;
    height: 300px;
    width: 180px;
    border-radius: 5%;
    border: 2px solid gray;
    
}
#div_screen {
    background: green;
    margin-bottom: 10%;
}

#screen {
    height: 50px;
    width: 168px;
    margin: 2px;
}

.button {

    margin-bottom: 5%;
}

.btn {

    height: 36px;
    color: rgb(28, 109, 20);
    border-radius: 10%;
}

.bt_bg {
    width: 85px;
}

.bt_sm {
    width: 40px;
}

