#root {
  min-height: 100vh;
  min-width: 100%;
}


.body {

  min-height: 100vh;
  width: 100%;
  background-image: url('/Background.png');
  align-items: center;

  display: flex;
  justify-content: center;
  /* align-items: center; */

}


.innerBody {
  height: 500px;
  width: 20%;
  background-image: linear-gradient(to bottom, rgba(18, 62, 79,1), rgba(18, 62, 79,0), rgba(18, 62, 79,1)); 
  border-radius: 5%;
}


.upBody {
  /* border: 1px solid white; */
  border-bottom-color : white;
  border-bottom-style: solid;
  height: 40px;
}



